* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.dashboard-container {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(250px, 280px) 1fr;
    grid-template-rows: 220px 1fr;
    color: white;
}

.sidebar-container {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #0f172a
}

.header-container {
    padding: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    box-shadow: none;
    background-color: #1e293b;
}

a {
    text-decoration: none;
}

.nav a,
.dashboard-logo,
.branding-container a {
    display: flex;
    align-items: center;
}

.nav a,
.branding-container a {
    margin-bottom: 5%;
    color: white;
    font-weight: 600;
}

.dashboard-logo {
    margin-left: 20px;
    margin-bottom: 40px;
}

.icon {
    margin-right: 15px;
}

.dashboard-logo .icon {
    background: url('./icons/dashboard_FILL0_wght400_GRAD0_opsz24.svg') no-repeat center;
    background-size: 50px;
    height: 50px;
    width: 40px;
    
}

.nav {
    margin-bottom: 80px;
}

.nav,
.branding-container {
    margin-left: 25px;
}

.nav .icon,
.branding-container .icon {
    height: 35px;
    width: 25px;
    background-size: 35px;
}

.icon.home {
    background: url('./icons/home_FILL0_wght400_GRAD0_opsz24.svg') no-repeat center;
}

.icon.profile {
    background: url('./icons/person_FILL0_wght400_GRAD0_opsz24.svg') no-repeat center;
}

.icon.messages {
    background: url('./icons/sms_FILL0_wght400_GRAD0_opsz24.svg') no-repeat center;
}

.icon.history {
    background: url('./icons/history_FILL0_wght400_GRAD0_opsz24.svg') no-repeat center;
}

.icon.tasks {
    background: url('./icons/task_FILL0_wght400_GRAD0_opsz24.svg') no-repeat center;
}

.icon.communities {
    background: url('./icons/groups_FILL0_wght400_GRAD0_opsz24.svg') no-repeat center;
}

.icon.settings {
    background: url('./icons/settings_FILL0_wght400_GRAD0_opsz24.svg') no-repeat center;
}

.icon.support {
    background: url('./icons/help_FILL0_wght400_GRAD0_opsz24.svg') no-repeat center;
}

.icon.privacy  {
    background: url('./icons/shield_FILL0_wght400_GRAD0_opsz24.svg') no-repeat center;
}

.top-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form {
    display: flex;
    align-items: center;
}

.header-container button {
    border: none;
    background-color:#1e293b;
}

.icon.search {
    background: url('./icons/search_FILL0_wght400_GRAD0_opsz24.svg') no-repeat center;
    background-size: 25px;
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

input[type="search"] {
    width: 30vw;
    height: 30px;
    border-radius: 30px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
}

input[type="search"]:focus {
    outline: none;
    
}

button:hover {
    cursor: pointer;
}


.profile-pic {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.bottom-header img {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin-right: 10px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
}

.bottom-header button {
    background-color: #94a3b8;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.name p:first-child {
    font-weight: bold;
    font-size: 13px;
}

.name p:nth-child(2) {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

.user {
    display: flex;
}

.btns {
    display: flex;
    gap: 20px;
    align-items: center;
}

.main-content-container {
    display: flex;
    justify-content: center;
}

.main-content {
    display: grid;
    gap: 15px;
    grid-template-columns: 900px 340px;
    grid-template-rows: 420px 370px;
}

.main-content-container > div > h2 {
    font-weight: 500;
    font-size: 25px;
}

.your-projects {
    padding-left: 20px;
    grid-row: 1/3;
}

.projects {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 390px);
    grid-template-rows: repeat(3, 220px);
}

.project {
    padding: 15px;
    color: white;
    background-color: #1e293b;
    border-radius: 8px;
    border-left: 10px solid #94a3b8;
    box-shadow: 3px 5px 5px silver;
}

.project p {
    margin: none;
}

.project p:first-child {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.announcements {
    grid-column: 2/3;
    grid-row: 1/2;
}

.announcement {
    color: white;
    background-color: #1e293b;
    border-radius: 8px;
    padding: 20px;
}

.announcement-1,
.announcement-2,
.announcement-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.announcement-1 p:first-child,
.announcement-2 p:first-child,
.announcement-3 p:first-child {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.announcement-1 p:nth-child(2),
.announcement-2 p:nth-child(2),
.announcement-3 p:nth-child(2){
    margin-top: 1px;
}

hr {
    width: 280px;
    border-color: #94a3b8;
}

.trending {
    grid-column: 2/3;
    grid-row: 2/3;
}

.trends {
    background-color: #1e293b;
    color: white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 26px;
}
.trends img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 25px;
}
.trend-1,
.trend-2,
.trend-3 {
    display: flex;
    gap: 10px;
}

.trend-1,
.trend-2 {
    margin-bottom: 20px;
}

.trend-1 > div > p:nth-child(2),
.trend-2 > div > p:nth-child(2),
.trend-3 > div > p:nth-child(2) {
    color: #94a3b8;
}

.trends p {
    margin: 5px;
}


.trending,
.announcements,
.your-projects {
    color: black;
}

.trending,
.announcements {
    margin-right: 20px;
}